@charset "UTF-8";

.forminscription {
	margin-left: 45%;
}

.formpagestart {
	padding: 15px;
	align-self: flex-end;
	padding-right: 60%;
}

header {
	background-color: #b8d8be;
	border-width: 1px;
	border-style: solid;
	border-color: grey;
	margin: 10px;
	padding: 25px;
}

body {
	background: #c8e1cc;
	color: green;
	
}

.headerposition {
	display: flex;
	justify-content: space-between;
}

.formpageend {
	padding: 15px;
}

.button {
	font-family: 'Lobster', cursive;
	background-color: #c8e1cc;
	color: green;
	border: 1px solid #4CAF50;
	padding: 15px;
	border-radius: 50px;
	font-size: 25px;
	box-shadow: 2px 2px 5px grey;
}

.button:hover {
	background-color: #4CAF50;
	color:#c8e1cc;
}


.logoposition {
	display: flex;
}
.titre{
	text-align: center;
}

.logoposition {
	display: flex;
}
.titre{
	text-align: center;
}
.flex{
	display: flex;
	justify-content: space-between;
}

.logoposition {
	display: flex;
}
.titre{
	text-align: center;
}

.bodyAccueil{
	background: #c8e1cc;
	font-family: 'Lobster', cursive;
	text-align: center;
	font-size: 25px;
	}
	
.inputAccueil {
  max-width: 190px;
  height: 30px;
  border: 2px solid transparent;
  outline: none;
  border-bottom: 2px solid green;
  caret-color: grey;
  background-color: #c8e1cc;
  padding: 5px;
  transition: .5s linear;
  font-family: 'Lobster', cursive;
  letter-spacing: 1px;
}

.inputAccueil:focus {
  border: 2px solid black;
  caret-color: grey;
  color: #4CAF50;
  box-shadow: 4px 4px 10px #4CAF50;
}

.inputAccueil:focus::placeholder {
  color: #4CAF50;
}

select{
	background-color: #c8e1cc;
	font-family: 'Lobster', cursive;
	color: green;
	border: 1px solid #4CAF50;
	border-radius: 50px;
	margin-top: 10px;
	padding: 10px;
	font-size: 25px;
	box-shadow: 2px 2px 5px grey;
}
select:hover {
	background-color: #4CAF50;
	color:#c8e1cc;
}

option{
	background-color: #4CAF50;
}
.btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #0000EE;
    padding: 0;
    text-decoration: underline;
    font-family: inherit;
    font-size: inherit;
}

.RadioButtonFiltre{
	display : block;
	margin-right: 200px;
}

.BlockFiltreVente{
	display : block;
	margin-left: 300px;
}

.bodyArticleVendu{
  display:flex;
  flex-direction:column;
  padding-left: 40%;
  
   
}

.inputAccueil{
	max-width:none;
	font-family: 'Lobster', cursive;
	height: 35px;
	font-size: 20px;
	color: green;
	border-radius: 25px;
	border: 1px solid #4CAF50;
}

fieldset{
	border-width: 1px;
	border-style: solid;
	border-color: grey;
	margin: 10px;
	padding: 25px;
	margin-left: 10%;
	margin-right: 10%;
	border-radius: 100px;
	border: 1px solid #4CAF50;
	box-shadow: 4px 4px 10px grey;
}

#mainListeEnchere { 
    width: 800px;
    margin: 0 auto;
}
.ul {
        list-style-image: url("/uploads/media/default/0001/02/1ac48d17fa5906a111bba2c4ca6f1363acb1893a.png");
      }

.checkRadioBoxAccueil{
	display: flex;
	justify-content: center;
}

input {
	background-color: #c8e1cc
}

.bodyDetailEnchere{
	background: #c8e1cc;
	font-family: 'Lobster', cursive;
	font-size: 30px;
	}

.inputDetailEnchere{
	font-family: 'Lobster', cursive;
	height: 35px;
	font-size: 20px;
	color: green;
	border-radius: 25px;
	border: 1px solid #4CAF50;
}

.DetailsEncheres{
		text-align: center;
}

.bodyInscription{
	background: #c8e1cc;
	font-family: 'Lobster', cursive;
	font-size: 30px;
	}

.inputInscription{
	font-family: 'Lobster', cursive;
	height: 35px;
	font-size: 20px;
	color: green;
	border-radius: 25px;
	border: 1px solid #4CAF50;
}

